
.card {
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #444;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 200, 255, 0.2);
    border-color: #0dcaf0;
}

.card-img-top {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


.list-group-item {
    border-color: #444 !important;
}

.track-link {
    color: #0dcaf0;
    text-decoration: none;
}

.track-link:hover {
    text-decoration: underline;
}