
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
}

#keyboard {
    background-color: #333;
    padding: 20px;
    border-radius: 10px; 
    display: flex;
    width: 90vw; 
}

#keypad {
    display: flex;
    width: 100%; 
    position: relative;
    border-radius: 5px;
}


.whiteKey {
    height: 240px;
    flex: 1; 
    background: white;
    border: 1px solid #000;
    border-radius: 0 0 5px 5px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    box-shadow: inset 0 -5px 10px rgba(0,0,0,0.1);
    transition: all 0.1s;
    cursor: pointer;
}

.blackKey {
    height: 140px;
    width: 24px;
    background: black;
    margin-left: -13px;
    margin-right: -13px;
    z-index: 2;
    border-radius: 0 0 3px 3px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 8px;
    color: white;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.5);
    transition: all 0.1s; 
    cursor: pointer;
}


.whiteKey:hover {
    background-color: #f0f0f0;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,0.2);
}

.blackKey:hover {
    background-color: #333;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.8);
}


span {
    font-size: 10px;
    font-family: Arial, sans-serif;
    pointer-events: none; 
}